<div class ="container">
  <div class="row" style="padding-top: 40px; padding-left:400px;">  
        <div class="col-sm-8">
        <img src="https://firebasestorage.googleapis.com/v0/b/davitahackaton-b49d4.appspot.com/o/DaVitaLogo.jpg?alt=media&token=63f60d41-395b-448d-aef2-eaa8e0de4a9d" height="120" width="400"  class="img-fluid" alt="Responsive image">
      </div>
  </div>
  <div class="row" style="padding-left:300px; padding-top: 20px">
    <span class="border border-dark rounded" style="padding-left:100px; padding-top: 30px; padding-right: 150px; padding-bottom: 50px">
    <form #loginForm ="ngForm" (ngSubmit) = "validateUserDetails(loginForm); loginForm.reset();" style="border-radius: 2px;">
      
      <div class="row" style="padding-top: 20px">
        <div class="col-12">
          <label for="email">Email</label>
          <input type="email" name ="email" ngModel #email="ngModel" class="form-control" style="width: 400px">
        </div>
      </div>
      <div class="row" style="padding-top: 20px">
        <div class="col-12">
          <label for="email">Password</label>
          <input type="password" name ="password" ngModel #password="ngModel" class="form-control" style="width: 400px">
        </div>
      </div>
      <div class="row mt-2" style="padding-top: 20px">
        <div class="col-12">
          <a href="/register">Click Here to Register</a>
        </div>
      </div>
      <div class="row" style="padding-top: 20px; padding-left:50px">      
        <div class="col-6">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary" type="reset">Reset</button>
        </div>
      </div>
      <div class="row" *ngIf = "authError" style="width: 400px;padding-top: 20px; ">
          <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
        </div>
    </form>
    </span>
  </div>
</div>

